@use 'variables';
@use 'mixins';

// --- 카드 UI의 모든 공통 속성을 담는 플레이스홀더 ---
%card-base {
  background: variables.$white-color;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  width: 400px;
  max-width: 100%;
  padding: 40px 50px;
  box-sizing: border-box;
  text-align: center;

  h1 {
    font-weight: 700;
    font-size: 24px;
    margin-top: 0;
    margin-bottom: 30px;
  }

  // 반응형 스타일
  @include mixins.tablet {
    width: 350px;
    padding: 35px 45px;
    h1 {
      font-size: 20px;
    }
  }

  @include mixins.mobile {
    min-height: 100vh;
    border-radius: 0;
    box-shadow: none;
    padding: 40px 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    h1 {
      font-size: 28px;
    }
  }
}
