@use 'variables';
@use 'auth';

// 글로벌 스타일 정의
body {
  font-family: variables.$font-family;
  background-color: variables.$background-color;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

// 홈페이지 스타일
.card {
  background: variables.$white-color;
  padding: 40px 50px;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  width: 400px;
  text-align: center;
  box-sizing: border-box;

  h1 {
    font-weight: 700;
    font-size: 24px;
    margin-top: 0;
    margin-bottom: 10px;
  }

  .subtitle,
  .welcome-msg {
    color: #666;
    margin-bottom: 30px;
  }

  .btn {
    display: block;
    width: 100%;
    padding: 12px 24px;
    border: none;
    border-radius: 8px;
    color: variables.$white-color;
    text-decoration: none;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    transition: background-color 0.2s;
    margin-top: 5px;
    box-sizing: border-box;

    &.btn-primary {
      background-color: variables.$primary-color;
      &:hover {
        background-color: variables.$primary-hover;
      }
    }

    &.btn-secondary {
      background-color: variables.$secondary-color;
      &:hover {
        background-color: variables.$secondary-hover;
      }
    }

    &.btn-logout {
      background-color: variables.$danger-color;
      &:hover {
        background-color: variables.$danger-hover;
      }
    }
  }
}
